<div class="main posts-index">
  <div class="container">

    <% @posts.each do |post| %>
    <%# 1投稿毎に縦に並べる%>
    <div class="d-flex flex-column align-items-center">
      <%# 画像を左に、投稿を右に並べる%>
      <div class="d-flex flex-row align-items-center">
        <div>
          <img style="width: 100px" src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="d-flex flex-column justify-content-center m-3">
          <div><%= link_to(post.user.name,"/users/#{post.user.id}") %></div>
          <div><%= link_to(post.content,"/posts/#{post.id}") %></div>
          <div><%= l post.created_at %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>



  <div class="main posts-index">
    <div class="container">

      <% @posts.each do |post| %>
      <div class="row">
        <div class="col-6">
          <div class="left_image">
            <img src="<%= "/user_images/#{post.user.image_name}" %>">
          </div>
        </div>
        <div class="col-6">
          <div class="right_name">
            <%= link_to(post.user.name,"/users/#{post.user.id}") %>
          </div>
          <p>
            <%= link_to(post.content,"/posts/#{post.id}") %>
          </p>

          <div class="post-time">
            <p>
              <%= post.created_at %>
            </p>
          </div>
        </div>
      </div>

      <% end %>
    </div>
  </div>