<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link_rel="stylesheet" fref = "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%#
          <a href="/">TweetApp</a>
        %>
        <%= link_to('tweetApp',"/")%>
      </div>


      <!--ヘッダー、リンク一覧-->

      
      <% if @current_user %>
        <ul class="header-menus">
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </li>   
          <li>
            <%= link_to("投稿一覧","/posts/index") %>
          </li>
          <li>
            <%= link_to("新規投稿","/posts/new") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧",'/users/index') %>
          </li>
          <li>
            <%= link_to("ログアウト",'/logout',{method: :post}) %>
        </ul>  
      <% else %>
        <ul class="header-menus">
          <li>
              <%#<a href="/about">TweetAppとは</a>%>
            <%= link_to("TweetAppとは","/about")%>
          </li>
          <li>
            <%= link_to("ユーザー作成", '/signup' )%>
          </li>
          <li>
            <%= link_to("ログイン",'/login') %>
          </li>
          <li>
            <%= link_to("test",'/login') %>
          </li>
      </ul>  
      <% end %>
    </header>
    <!-- flash[:notice]に代入されたメッセージを表示してください -->
    <% if flash[:notice] != nil%>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
